set timeout=5
set default=0

# Root über Label finden
search --no-floppy --label TINYCORE --set=root

menuentry "TinyCore Linux (TDM Auto-Start)" {
    linux  /boot/vmlinuz loglevel=3 kmap=qwerty/de waitusb=10 tce=LABEL=TINYCORE tdm_autostart=1
    initrd /boot/corepure64.gz
}

menuentry "TinyCore (Safe Console Mode)" {
    linux  /boot/vmlinuz loglevel=3 kmap=qwerty/de waitusb=10 tce=LABEL=TINYCORE text
    initrd /boot/corepure64.gz
}
