set timeout=5
set default=0

# Root über Label finden
search --no-floppy --label TINYCORE --set=root

menuentry "TinyCore Linux (TDM Auto-Start)" {
    linux  /boot/vmlinuz loglevel=3 kmap=us waitusb=10 tce=LABEL=TINYCORE tdm_autostart=1
    initrd /boot/corepure64.gz /boot/custom.gz
}

menuentry "TinyCore (Safe Console Mode)" {
    linux  /boot/vmlinuz loglevel=3 kmap=us waitusb=10 tce=LABEL=TINYCORE text tdm_safe=1
    initrd /boot/corepure64.gz /boot/custom.gz
}
